@model MyClass.Models.Category

@{
    ViewBag.Title = "Chi tiết danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}





<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Title</h1>
                </div>
                <div class="col-sm-6 text-right">
                    <a href="@Url.Action("Index","Category")" class="btn btn-info"><i class="fas fa-chevron-left"></i> Quay lại</a>

                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Chi tiết Danh mục</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th style="width:120px">Tiên trường</th>
                        <th>Nội dung</th>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Name)</td>
                        <td>@Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Slug)</td>
                        <td>@Html.DisplayFor(model => model.Slug)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.ParentId)</td>
                        <td>@Html.DisplayFor(model => model.ParentId)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Orders)</td>
                        <td>@Html.DisplayFor(model => model.Orders)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Image)</td>
                        <td>@Html.DisplayFor(model => model.Image)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Title)</td>
                        <td>@Html.DisplayFor(model => model.Title)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.MetaKey)</td>
                        <td>@Html.DisplayFor(model => model.MetaKey)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.MetaDesc)</td>
                        <td>@Html.DisplayFor(model => model.MetaDesc)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.CreatedBy)</td>
                        <td>@Html.DisplayFor(model => model.CreatedBy)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.CreatedAt)</td>
                        <td>@Html.DisplayFor(model => model.CreatedAt)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.UpdatedBy)</td>
                        <td>@Html.DisplayFor(model => model.UpdatedBy)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.UpdatedAt)</td>
                        <td>@Html.DisplayFor(model => model.UpdatedAt)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Status)</td>
                        <td>@Html.DisplayFor(model => model.Status)</td>
                    </tr>


                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->





<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
